body{
	display: block;
	margin:0;
}

header{
	display : flex;
	background-color : #fff;
	flex-wrap : wrap;
}

header big{
	color : gold;
}

hr{
	margin : 3px;
}

.start{
	display : flex;
	flex : 1;
}



.end{
	display : flex;
	flex : 1;
	justify-content : flex-end;
	align-items : center;
}

.endItem{
	margin : auto 2%;
}

#hImg{
	flex : 1;
	padding : 0.5%;
	max-width : 89px;
}

.title{
	flex : 1;
	font-family : cursive;
	margin : auto auto;
	font-size : 20px;
}

input[type = "text"]{
	font-weight : blink;
	border : none;
	border-radius : 10px;
	padding : 1.5%;
	background-color : #ffffe6;
}

input[type = "submit"]{
	border-radius : 5px;
	padding : 1%;
	font-weight : bold;
	background-color : #fff;
	box-shadow : 1px 1px;
}

main{
	display : flex;
	margin : 0;
}

.menu{
	flex-flow : column;
	flex : 1;
}

.menu div{
	margin : 10%;
}

.links {
	text-decoration : none;
	font-weight : bold;
	color : black;
	font-size :  20px;
	font-family : cursive;
}


.content{
	display : flex;
	flex : 3;
	flex-wrap:wrap;
}


.contentItem{
	position : relative;
	flex : 1 0 33%;
	max-width: 33%;
	box-sizing: border-box;
	color : black;
	min-width : 300px;
}

.itemContainer{
	position : relative;
	margin : 10px;
}
.contentItem :hover .itemContainer{
	margin : 0;
	border : 1px solid blue; 
}

.posterImage{
	max-width : 100%;
}

.movieName{
	color : white;
	font-weight : bold;
	font-size : 24px;
	margin : 0;
}

.nameContainer{
	background-image:linear-gradient(0,#000000,#808080);
	opacity: 0.7;
}

.nameTag{
	position : absolute;
	top:70%;
	left :0 ;
	bottom : 0;
	width : 100%;
}

.description{
	position : absolute;
	margin : 0;
	bottom : 0;
	left : 0;
	width : 100%;
	display : none;
	font-weight : bold;
	font-family : arial;
	max-height : 100%;
}

.feature_list{
	display: none;
	margin : 0;
}

#features{
	margin : 0;
}


.heading{
	font-size : 20px;
	flex : 1 0 100%;
}


.homeButton{
	display : block;
	top : 0;
	left : 0;
}

.homeButton{
	display : none;
	max-height : 50px;
}

.homeButton a{
	text-decoration: none;
	color : black;
	font-weight : bold;
}

.error{
	text-align:  center;
	font-weight : bold;
	font-size : 20px;
	color : red;
}

.circle{
	background-color : black;
	border-radius : 50%;
	height : 20px;
	width : 20px;
	padding : 5px;
	min-width: 20px;
}

.semiCircle{
	background-color : #666666;
	height: 100%;
	width : 70%;
	border-top-left-radius :  100px;
	border-bottom-left-radius : 100px;
}


.darkMode{
	background-color: black;
	color : white;
}